:root {
    --background-color: #ffffff;
    --text-color: inherit;

    --input-background-color: var(--background-color);
    --input-text-color: var(--text-color);

    --in-content-border-focus: #0a84ff;
    --in-content-box-border-color: #d7d7db;
    --in-content-box-background: #fff;
}

html {
    font-family: Segoe UI, Arial;
    overflow-y: auto;
    font-size: 15px;
}

html,
body {
    color: inherit;
    background-color: #ffffff;
}

a {
    color: #0a84ff;
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: #0060df;
}
a:hover {
    color: #0c0c0d;
    text-decoration: underline;
}
a:not([class])[href*="//"]::after {
    background-image: url('../icons/open_in_new.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    content: "";
    display: inline-block;
    height: 16px;
    margin: -.3rem .15rem 0 .25rem;
    vertical-align: middle;
    width: 16px;
}

.input::placeholder,
.textarea::placeholder {
    color: inherit;
}

.input,
.textarea,
.button {
    background-color: #ffffff;
}

button {
    border: 1px solid #d7d7db;
    border-radius: 2px;
    height: 32px;
    font-size: inherit;
    font-weight: 400;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

button:hover {
    background-color: #ededf0;
}

.input,
.textarea {
    box-shadow: unset;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
    box-shadow: unset;
    border-color: #0a84ff;
}

.field {
    margin-bottom: 0.75rem;
}

.info-text {
    color: gray;
    font-size: 11px;
}

.checkbox {
    -moz-user-select: none;
    user-select: none;
    cursor: inherit;
    display: inline-flex;
    line-height: 1.25;
    position: relative;
    align-items: center;
}

.checkbox input {
    cursor: inherit;
}

.checkbox:hover {
    color: #363636;
}

.checkbox[disabled] {
    color: #7a7a7a;
    cursor: not-allowed;
}

.checkbox > input {
    margin-right: 6px;
}

input[type="checkbox"] {
    -moz-appearance: none;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    padding: 1px;
    border: 1px solid #d7d7db;
    border-radius: 2px;
    margin: 0;
    margin-inline-end: 10px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: baseline;
}

input[type="checkbox"]:not(:disabled):hover {
    border-color: #0a84ff;
}

input[type="checkbox"]:checked {
    background-image: url('../icons/check.svg');
    -moz-context-properties: fill;
    fill: #2292d0;
}

input[type="checkbox"]:disabled {
    opacity: 0.5;
}

input[type="checkbox"]:-moz-focusring + label:before {
    outline: 1px dotted;
}

input[type="number"] {
    -moz-appearance:textfield;
    background-color: #ffffff;
    border: 1px solid #d7d7db;
    border-radius: 2px;
    box-shadow: 0 0 0 0 rgba(97, 181, 255, 0);
    font: caption;
    font-size: inherit;
    padding: 0 6px 0;
    transition-duration: 250ms;
    transition-property: box-shadow;
}

input[type="number"] {
    height: 24px;
}

input[type="number"].hover {
    border: 1px solid #363636;
}

input[type="number"]:disabled {
    color: #999;
    opacity: .5;
}

input[type="number"].focused{
    border-color: #0a84ff;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

    /* Interactive States */
input[type="number"]:not(:disabled):hover {
    border: 1px solid #363636;
}

input[type="number"]:focus,
input[type="number"]:focus:hover {
    border-color: #0a84ff;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}