body.touchpadSwipeAnimateTransitionBrowserPagingOutgoingBack {
    transform: translate(1000px, 0) !important;
    opacity: 0;
    transition: 1s ease-out;
}
  
body.touchpadSwipeAnimateTransitionBrowserPagingOutgoingForward {
    transform: translate(-1000px, 0) !important;
    opacity: 0;
    transition: 1s ease-out;
}
  
body.touchpadSwipeAnimationCore {
    transition: all 100ms ease-out;
}
  
.touchpadSwipeAnimateLeft50px {
    transform: translate(100px, 0);
    opacity: 0.5;
}
  
.touchpadSwipeAnimateRight50px {
    transform: translate(-100px, 0);
    opacity: 0.5;
}

.swipeNavGrid {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
}
  
.swipeNav {
    height: 100%;
    width: 0;
    background-color: grey;
    position: fixed;
}
  
.swipeNavLeft {
    float: left;
    background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M11.707 3.293a1 1 0 0 1 0 1.414L5.414 11H21a1 1 0 1 1 0 2H5.414l6.293 6.293a1 1 0 0 1-1.414 1.414l-8-8a1 1 0 0 1 0-1.414l8-8a1 1 0 0 1 1.414 0z' fill='#0C0C0D' fill-opacity='.8'></path></svg>");
    background-repeat: no-repeat;
}
  
.swipeNavRight {
    float: right;
    background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12.293 3.293a1 1 0 0 1 1.414 0l8 8a1 1 0 0 1 0 1.414l-8 8a1 1 0 0 1-1.414-1.414L18.586 13H3a1 1 0 1 1 0-2h15.586l-6.293-6.293a1 1 0 0 1 0-1.414z' fill='#0C0C0D' fill-opacity='.8'></path></svg>");
    background-repeat: no-repeat;
}